@import '../../styles/sizes.scss';
@import '../../styles/variables.scss';

.user_types_section {
    width: $screen-width;
    max-width: $max-screen-width;
    margin-bottom: px(200);

}

.user_types_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: px(54);
    gap: px(54);
    padding-bottom: px(120);
    margin: auto;

    img {
        width: 95%;
    }

    &__content {
        h2 {
            color: $color-neutralBlack;
            font-size: px(32);
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: px(-0.64);
            padding-bottom: px(24);
            margin-bottom: px(24);
            border-bottom: px(1) solid $color-gray-40;

            .purple_text {
                color: white;
                background: $color-primary;
            }
        }

        p {
            color: $color-gray-80;
            font-size: px(20);
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }

    @media screen and (min-width: #{$mobileLargeWidth}) {
        flex-direction: row;
        align-items: flex-start;
        gap: px(20);
        img {
            width: 50%;
        }
    }
    @media screen and (min-width: #{$tabletLargeWidth}) {
        gap: px(54);

        img {
            width: 70%;
        }

        &__content {
            h2 {
                font-size: 48px;
            }
        }
    }
}

.user_types_grid {
    display: grid;
    gap: px(24);
    @media screen and (min-width: #{$tabletMidWidth}) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.user_type_without_avatar_grid {
    grid-column: 1 / span 2;
    background: $color-gray-20;
    border-radius: px(32);
    padding: px(14);
    display: grid;
    gap: px(24);
    margin-top: px(24);

    .user_type_item {
        background: white;
        padding: px(24) px(40);
        border-radius: px(20);
    }

    @media screen and (min-width: #{$tabletSmallWidth}) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.gray_bg {
    background: $color-gray-20;
    border-radius: px(32);
}