@import '../../styles/sizes.scss';
@import '../../styles/variables.scss';

.user_type_details {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    &.with_avatar {
        padding-top: px(48);
        padding-right: px(50);

        .content {
            margin-left: px(50);
            margin-bottom: px(26);

            h3 {
                margin-top: px(40);
            }
        }
    }

    .content {
        position: relative;
        flex-grow: 1;
        height: 100%;

        h3 {
            color: $color-neutralBlack;
            font-size: px(24);
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: px(-0.48);
        }

        p {
            color: $color-gray-80;
            font-size: px(16);
            font-style: normal;
            font-weight: 400;
            line-height: px(24);
            margin-top: px(12);
            margin-bottom: px(48);
        }

        .action_container {
            position: absolute;
            bottom: 0;
        }
    }

    .avatars_container {
        &__inner {
            display: flex;
            align-items: center;
            width: fit-content;
            justify-content: space-between;
            gap: px(12);
            background: white;
            border-radius: px(116);
            padding: px(28) px(16);
            z-index: 1;
            position: relative;
            margin-left: -60px;
        }

        .avatar {
            img {
                width: px(68);
                height: px(68);
                border-radius: px(68);
                border: px(5) solid $color-gray-30;
                object-fit: cover;
                object-position: center top;
            }
        }
    }

    @media screen and (min-width: #{$mobileSmall}) {
        .avatars_container {
            .avatar {
                img {
                    width: px(80);
                    height: px(80);
                    border-radius: px(80);
                    border-width: px(8);
                }
            }
        }
    }

    @media screen and (min-width: #{$mobile}) {
        .avatars_container {
            .avatar {
                img {
                    width: px(98);
                    height: px(98);
                    border-radius: px(98);
                    border-width: px(8);
                }
            }
        }
    }

    @media screen and (min-width: #{$tablet}) {
        .avatars_container {
            &__inner {
                padding: 0 px(48);
                height: px(140);
            }

            &.align_right {
                .avatars_container__inner {
                    margin-right: -120px;
                }
            }

            &.align_left {
                .avatars_container__inner {
                    margin-left: -120px;
                }
            }

            .avatar {
                img {
                    width: px(100);
                    height: px(100);
                    border-radius: px(100);
                    border-width: px(8);
                }
            }
        }
    }

    @media screen and (min-width: #{$tabletMidWidth}) {
        &.with_avatar {
            &.aligned_to_right {
                padding-left: px(50);
                padding-right: 0;

                .content {
                    margin-right: px(50);
                    margin-left: 0;
                }
            }
        }

        .avatars_container {
            &.align_right {
                .avatars_container__inner {
                    margin-right: -120px;
                    margin-left: 0;
                }
            }

        }

    }

    @media screen and (min-width: #{$laptopSmallWidth}) {
        &.with_avatar {
            &.aligned_to_right {
                padding-left: px(50);

                .content {
                    margin-right: px(50);
                }
            }

            &.aligned_to_left {
                padding-right: px(50);

                .content {
                    margin-left: px(50);
                }
            }
        }
    }
}