
@use 'sass:math';
$desktopWidth: '1440px';
$laptopWidth: '1366px';
$laptopSmallWidth: '1200px';
$tabletLargeWidth: '1024px';
$tablet: '992px';
$tabletMidWidth: '880px';
$tabletSmallWidth: '768px';
$mobileLargeWidth: '611px';
$mobile: '576px';
$mobileSmall: '414px';
$minResolution: '320px';

@function px($px, $base-size: 16px) {
    @return math.div($px * 1px, $base-size) * 1rem; 
}   