@import '../../styles/sizes.scss';
@import '../../styles/variables.scss';

.footer {
  background-color: $color-gray-200;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .footer_inner {
    margin: auto;
    padding: 0 px(16);

    .footer_cta {
      display: grid;
      gap: px(32);
      padding: px(64) 0;
      border-bottom: px(1) solid $color-gray-400;

      h3 {
        font-size: px(32);
        font-weight: 700;
        line-height: 140%;
        letter-spacing: px(-0.64);
        max-width: px(450);
      }
    }

    footer {
      padding: px(64) 0;
      border-bottom: px(1) solid $color-gray-400;
      display: grid;
      gap: px(64);

      h3 {
        font-size: px(16);
        font-weight: 700;
        line-height: px(24);
      }

      p {
        font-size: px(14);
        line-height: px(22);
      }

      .logo_container {
        display: grid;
        gap: px(30);
        color: $color-gray-600;

        .social_links {
          display: flex;
          gap: px(34);
          font-size: px(24);
        }
      }

      ul {
        .list_title {
          margin-bottom: px(21);
          font-size: px(16);
          font-weight: 700;
          line-height: px(24);
        }

        li {
          font-size: px(14);
          line-height: px(40);
        }
      }


    }

    .copyright {
      color: #464056;
      padding: px(64) 0;
      font-size: px(12);
      letter-spacing: px(0.6);
    }

    @media screen and (min-width: #{$tablet}) {
      .footer_cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: px(32);
      }

      footer {
        grid-template-columns: auto auto;
      }
    }

    @media screen and (min-width: #{$laptopWidth}) {
      width: 80%;
      padding: px(0);
    }

    @media screen and (min-width: #{$desktopWidth}) {
      width: 70%;
    }
  }
}