@import "../styles/sizes.scss";
@import "../styles/variables.scss";

.contact_us {
  max-width: $max-screen-width;
  width: $screen-width;
  margin: auto;
  padding: px(140) px(20);

  h1 {
    text-transform: uppercase;
    font-size: px(24);
    font-weight: 900;
    margin-bottom: px(24);
    text-align: center;
  }

  &__inner {
    max-width: px(500);
    margin: auto;
    display: grid;
    gap: px(12);
  }
}
