@import '../styles/sizes.scss';
@import '../styles/variables.scss';

.contact_us {
  padding: px(140) px(20);
  max-width: px(500);
  margin: auto;
  display: grid;
  gap: px(12);

  h1 {
    text-transform: uppercase;
    font-size: px(24);
    font-weight: 900;
    margin-bottom: px(24);
    text-align: center;
  }
}