@import '../styles/sizes.scss';
@import '../styles/variables.scss';

.hero-section {
  padding-top: px(200);

  &__inner {
    margin: 0 auto;

    h2 {
      padding: px(16);
      font-size: px(64);
      font-weight: 700;
      line-height: 116.5%;
      max-width: px(1119);
    }

    .hero-subtitle-container {
      margin-top: px(32);
      margin-bottom: px(100);
      padding: px(16);

      p {
        max-width: px(497);
        font-size: px(24);
        line-height: 140%;
        color: $color-gray-800;
        font-family: 'thiccboi-Regular';
        font-weight: 400;
        margin-bottom: px(24);
      }
    }

    .achievements {
      display: flex;
      border: px(1) solid $color-gray-400;
      background-color: $color-gray-200;
      padding: px(32);
      border-radius: px(4);

      &__inner {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: px(28);
      }

      h3 {
        font-size: px(20);
        line-height: 140%;
        width: fit-content;
      }

      p {
        font-size: px(10);
        font-weight: 400;
        font-family: 'thiccboi-Regular';
        line-height: 1.5rem;
        width: 90%;
        color: $color-gray-800;
      }

      .verified-container {
        background-color: $color-primary-200;
        padding: px(16);
        border-radius: px(8);
      }
    }

    .highway-images {
      margin-top: px(32);

      .truck-image {
        position: relative;
        margin-left: px(-600)
      }

      .road-image {
        width: 100%;
        min-width: 100%;
        object-fit: cover;
        z-index: 0;
        margin-top: px(-100);
      }
    }
  }
}

@media screen and (min-width: #{$mobileSmall}) {
  .hero-section {
    &__inner {

      .highway-images {
        .truck-image {
          margin-left: px(-450)
        }
      }
    }
  }
}

@media screen and (min-width: #{$tabletSmallWidth}) {
  .hero-section {
    .highway-images {
      .truck-image {
        margin-left: px(-300)
      }
    }
  }
}

@media screen and (min-width: #{$tabletMidWidth}) {
  .hero-section {
    &__inner {
      // h2 {
      //   font-size: px(96);
      //   line-height: px(100);
      // }

      .hero-subtitle-container {
        display: flex;
        justify-content: flex-end;

        &__inner {
          margin-top: px(-100);
        }
      }

      .achievements {
        justify-content: flex-end;

        &__inner {
          gap: px(40);
          width: 50%;
        }
      }

      .highway-images {
        margin-top: px(-280);

        .truck-image {
          margin-left: px(-550);
        }
      }
    }
  }
}

@media screen and (min-width: #{$tablet}) {
  .hero-section {
    &__inner {
      h2 {
        font-size: px(84);
        line-height: px(100);
      }
    }
  }
}

@media screen and (min-width: #{$tabletLargeWidth}) {
  .hero-section {
    &__inner {

      .achievements {
        h3 {
          font-size: px(32);
        }

        p {
          font-size: px(16);
        }
      }
    }
  }
}

@media screen and (min-width: #{$laptopSmallWidth}) and (max-width: #{$laptopWidth}) {
  .hero-section {
    h2 {
      font-size: px(96);
      line-height: px(100);
    }
    .achievements {
      &__inner {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: #{$laptopWidth}) {
  .page-width {
    width: 80%;
    margin: auto;
  }

  .hero-section {
    h2 {
      font-size: px(96);
      line-height: px(100);
    }
    .achievements {
      &__inner {
        width: 60%;
      }
    }

    .highway-images {
      .truck-image {
        margin-left: px(-450);
      }
    }
  }
}

@media screen and (min-width: #{$desktopWidth}) {
  .page-width {
    width: 70%;
    margin: auto;
  }

  .hero-section {
    .highway-images {
      .truck-image {
        margin-left: px(-300);
      }
    }
  }
}