@import '../styles/sizes.scss';
@import '../styles/variables.scss';

.hero-section {
  padding-top: px(116);

  &__inner {
    margin: 0 auto;

    h1 {
      padding: px(16);
      font-size: px(64);
      font-weight: 700;
      line-height: 116.5%;
      max-width: px(1119);
    }

    .hero-subtitle-container {
      margin-top: px(32);
      margin-bottom: px(100);
      padding: px(16);

      p {
        max-width: px(497);
        font-size: px(24);
        line-height: 140%;
        color: $color-gray-800;
        font-family: 'thiccboi-Regular';
        font-weight: 400;
        margin-bottom: px(24);
      }
    }

    .achievements {
      display: flex;
      border: px(1) solid $color-gray-400;
      background-color: $color-gray-200;
      padding: px(32);
      border-radius: px(4);

      &__inner {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: px(28);
      }

      h3 {
        font-size: px(20);
        line-height: 140%;
        width: fit-content;
      }

      p {
        font-size: px(10);
        font-weight: 400;
        font-family: 'thiccboi-Regular';
        line-height: 1.5rem;
        width: 90%;
        color: $color-gray-800;
      }

      .verified-container {
        background-color: $color-primary-200;
        padding: px(16);
        border-radius: px(8);
      }
    }

    .highway-images {
      margin-top: px(32);

      .truck-image {
        position: relative;
        margin-left: px(-600)
      }

      .road-image {
        width: 100%;
        min-width: 100%;
        object-fit: cover;
        z-index: 0;
        margin-top: px(-100);
      }
    }
  }
}

.client-user-type-group {
  border-bottom: px(1) solid $color-gray-400;
}

.client-user-type-group,
.service-user-type-group {
  header {
    padding: px(100) 0 px(50) 0;
    gap: px(100);

    h2 {
      font-size: px(32);
      font-weight: 700;
      line-height: 140%;
      letter-spacing: px(-0.96);
      padding-bottom: px(32);
      border-bottom: px(1) solid $color-gray-400;
      color: $color-neutral-black;
    }

    p {
      color: $color-gray-800;
      font-size: px(20);
      line-height: 140%;
      padding: px(24) 0 px(50) 0;
      border-bottom: px(1) solid $color-gray-400;
    }

    button {
      margin-top: px(6);
    }
  }

  .user-type {
    display: grid;
    gap: px(50);
    padding: px(32) 0;

    &__avatars {
      padding: px(36) 0 px(36) px(36);
      background: $color-gray-200;
      border-radius: px(102);
      display: flex;
      gap: px(24);
      overflow: hidden;

      .avatar {
        border-radius: px(95);
        border: 8px solid rgba(255, 255, 255, 0.50);
        width: px(95);
        height: px(95);
        overflow: hidden;
      }
    }

    &__details {
      display: grid;
      gap: px(12);

      h3 {
        font-size: px(24);
        font-weight: 700;
        line-height: 140%;
        letter-spacing: -0.48px;
        color: $color-neutral-black;
      }

      p {
        font-size: px(16);
        line-height: px(24);
        color: $color-gray-800;
        max-width: px(600);
      }
    }
  }
}

.service-user-type-group {
  header {
    .van-image {
      display: flex;
      justify-content: center;
    }
  }
}

.logistics-is-a-peoples-business {
  padding-top: px(50);
  padding-bottom: px(85);
  background: $color-gray-200;

  &__inner {
    display: grid;
    gap: px(64);
  }
}

.highlight {
  background: $color-primary;
  color: #fff;
}

.page-width {
  padding-left: px(16);
  padding-right: px(16);
}

@media screen and (min-width: #{$mobileSmall}) {
  .hero-section {
    &__inner {

      .highway-images {
        .truck-image {
          margin-left: px(-450)
        }
      }
    }
  }
}

@media screen and (min-width: #{$tabletSmallWidth}) {
  .hero-section {
    .highway-images {
      .truck-image {
        margin-left: px(-300)
      }
    }
  }

  .client-user-type-group {
    header {
      display: flex;
    }

  }

  .client-user-type-group,
  .service-user-type-group {
    header {
      padding: px(200) 0 px(100) 0;
      gap: px(120);
      border-bottom: px(1) solid $color-gray-400;

      h2 {
        font-size: px(32);
        font-weight: 700;
        line-height: 140%;
        letter-spacing: px(-0.96);
        padding-bottom: px(32);
        border-bottom: transparent;
        color: $color-neutral-black;
      }

      p {
        color: $color-gray-800;
        font-size: px(20);
        line-height: 140%;
        padding: px(24) 0 px(50) 0;
        border-bottom: transparent;

        &.with-border-top {
          border-top: px(1) solid $color-gray-400;
        }
      }
    }

    .van-image {
      display: block;
    }

    .user-type {
      display: flex;
      gap: px(100);
      padding: px(64) 0;

      &.invert {
        flex-direction: row-reverse;
      }

      &__avatars {
        padding: px(36) 0 px(36) px(36);
        background: $color-gray-200;
        border-radius: px(102);
        display: flex;
        gap: px(24);
        overflow: hidden;
        width: 50%;

        .avatar {
          border-radius: px(95);
          border: 8px solid rgba(255, 255, 255, 0.50);
          width: px(95);
          height: px(95);
          overflow: hidden;
        }
      }

      &__details {
        display: grid;
        gap: px(12);
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: #{$tabletMidWidth}) {
  .hero-section {
    &__inner {
      .hero-subtitle-container {
        display: flex;
        justify-content: flex-end;

        &__inner {
          margin-top: px(-100);
        }
      }

      .achievements {
        justify-content: flex-end;

        &__inner {
          gap: px(40);
          width: 50%;
        }
      }

      .highway-images {
        margin-top: px(-280);

        .truck-image {
          margin-left: px(-550);
        }
      }
    }
  }

  .logistics-is-a-peoples-business {
    padding-top: px(100);
    padding-bottom: px(100);

    &__inner {
      display: flex;
      gap: px(100);

      .peoples-business-hero-section {
        display: grid;
        gap: px(28);

        h3 {
          font-size: px(32);
          font-weight: 700;
          line-height: 140%;
          letter-spacing: px(-0.64);
        }
        button {
          margin-top: px(12);
        }
      }
    }
  }
}

@media screen and (min-width: #{$tablet}) {
  .hero-section {
    &__inner {
      h1 {
        font-size: px(84);
        line-height: px(100);
      }
    }
  }

  .service-user-type-group {
    header {
      display: flex;
    }

  }
}

@media screen and (min-width: #{$tabletLargeWidth}) {
  .hero-section {
    &__inner {

      .achievements {
        h3 {
          font-size: px(32);
        }

        p {
          font-size: px(16);
        }
      }
    }
  }
}

@media screen and (min-width: #{$laptopSmallWidth}) and (max-width: #{$laptopWidth}) {
  .hero-section {
    h1 {
      font-size: px(96);
      line-height: px(100);
    }

    .achievements {
      &__inner {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: #{$laptopWidth}) {
  .page-width {
    width: 80%;
    margin: auto;
    padding: px(0)
  }

  .hero-section {
    h1 {
      font-size: px(96);
      line-height: px(100);
    }

    .achievements {
      &__inner {
        width: 60%;
      }
    }

    .highway-images {
      .truck-image {
        margin-left: px(-450);
      }
    }
  }
}

@media screen and (min-width: #{$desktopWidth}) {
  .page-width {
    width: 70%;
    margin: auto;
  }

  .hero-section {
    .highway-images {
      .truck-image {
        margin-left: px(-300);
      }
    }
  }
}