@import '../styles/sizes.scss';
@import '../styles/variables.scss';

.policies {
  padding: px(160) 0;
  width: 90%;
  margin: auto;
  font-size: px(20);

  * {
    font-weight: 400;
    color: $color-gray-600;
  }

  ul {
    margin-left: 48px;
  }

  h2 {
    text-align: center;
    font-weight: 900;
    font-family: 'thiccboi-extrabold';
    font-size: px(32);
    color: #000;
  }

  h3 {
    font-size: px(24);
    font-weight: 800;
    color: #000;
  }

  h4 {
    font-size: px(20);
    font-weight: 700;
    color: #000;
  }
  h5 {
    font-size: px(16);
    font-weight: 600;
    color: #000;
  }
  b {
    font-weight: 900;
    color: #000;
  }

  p {
    font-weight: 400 !important;
  }

  @media only screen and (min-width: #{$tabletMidWidth}) {
    width: 70%;
  }
}