@import '../../styles/sizes.scss';
@import '../../styles/variables.scss';

.faqs {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.faq_item {
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.5rem 0;
    font-size: px(16);
    font-weight: 600;
    line-height: 140%;
    font-family: 'thiccboi-SemiBold';
    color: $color-gray-70;
    transition: all .5s ease-in;
  }

  &:not(:first-child) {
    .header {
      border-top: 1px solid $color-gray-20;
    }
  }

  .faq_item_answer {
    font-size: px(14);
    font-weight: 400;
    line-height: px(24);
    color: $color-gray-80;
    max-height: 0;
    overflow: hidden;

    &_show_content {
      max-height: 9999px;
      transition: all .5s cubic-bezier(1, 0, 1, 0);
    }
  }
}