:root {
  /* COLORS */
  --color-primary: #4326c4;
  --color-primary-10: #f2f0fb;
  --color-primary-20: #d9d3f3;
  --color-primary-30: #b3a8e7;
  --color-primary-40: #8e7cdb;
  --color-primary-50: #6851cf;
  --color-primary-60: #351e9c;
  --color-primary-70: #281675;
  --color-primary-80: #1a0f4e;
  --color-primary-90: #0d0727;
  --color-primary-100: #070417;

  --color-danger: #ff3c2b;
  --color-danger-10: #fff2f0;
  --color-danger-20: #ffd8d4;
  --color-danger-30: #ffb1aa;
  --color-danger-40: #ff8a7f;
  --color-danger-50: #ff6355;
  --color-danger-60: #cc3022;
  --color-danger-70: #992419;
  --color-danger-80: #651711;
  --color-danger-90: #320b08;
  --color-danger-100: #1e0604;

  --color-success: #14c36f;
  --color-success-10: #effbf5;
  --color-success-20: #d0f3e2;
  --color-success-30: #a1e7c5;
  --color-success-40: #72dba8;
  --color-success-50: #43cf8b;
  --color-success-60: #109c58;
  --color-success-70: #0c7542;
  --color-success-80: #074d2c;
  --color-success-90: #032616;
  --color-success-100: #01160d;

  --color-info: #54bafe;
  --color-info-10: #f3fafe;
  --color-info-20: #dcf1fe;
  --color-info-30: #bae3fe;
  --color-info-40: #98d5fe;
  --color-info-50: #76c7fe;
  --color-info-60: #4394cb;
  --color-info-70: #326f98;
  --color-info-80: #214a65;
  --color-info-90: #102532;
  --color-info-100: #09161e;

  --color-rose: #e31b54;
  --color-rose-10: #fdeff3;
  --color-rose-20: #f9d1dc;
  --color-rose-30: #f3a3ba;
  --color-rose-40: #ee7698;
  --color-rose-50: #e84876;
  --color-rose-60: #b51543;
  --color-rose-70: #881032;
  --color-rose-80: #5a0a21;
  --color-rose-90: #2d0510;
  --color-rose-100: #1b0309;

  --color-warning: #f9c437;
  --color-warning-10: #fefbf1;
  --color-warning-20: #fdf3d7;
  --color-warning-30: #fce7af;
  --color-warning-40: #fbdb87;
  --color-warning-50: #facf5f;
  --color-warning-60: #c79c2c;
  --color-warning-70: #957521;
  --color-warning-80: #634e15;
  --color-warning-90: #31270a;
  --color-warning-100: #1d1706;

  --color-gray: #dcdae4;
  --color-gray-10: #fcfcfd;
  --color-gray-20: #f8f7f9;
  --color-gray-30: #f1f0f4;
  --color-gray-40: #eae8ee;
  --color-gray-50: #e3e1e9;
  --color-gray-60: #b0aeb6;
  --color-gray-70: #848288;
  --color-gray-80: #57575b;
  --color-gray-90: #2b2b2d;
  --color-gray-100: #19191b;
  --color-neutralBlack: #15131b;

  --color-orange-10: #fff7f0;
  --color-orange: #ff8d24;

  /* Box shadows */
  --box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);

  --box-shadow-primary: 0px 0px 0px 4px rgba(16, 24, 40, 0.05);

  --base-height: 48px;
  --base-height-md: 44px;
  --base-height-s: 32px;
}
