@import '../../styles/variables.scss';
@import '../../styles/sizes.scss';

.ui_button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  padding: px(16);
  align-items: center;
  justify-content: center;
  line-height: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.28px;
  text-align: center;
  font-family: 'thiccboi-Regular';
  text-transform: uppercase;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  transition: all .2s ease-in;

  &.primary {
    background-color: $color-primary;
    color: white;

    &:hover {
      box-shadow: $box-shadow-primary;
    }
  }

  &.white {
    background-color: white;
    color: $color-primary;

    &:hover {
      box-shadow: $box-shadow-primary;
    }
  }

  &.primary-text {
    background: transparent;
    border-color: transparent;
    color: $color-primary;
    padding: 0;

    svg {
      fill: $color-primary;
    }
  }

  &.neutral {
    background: $color-gray-30;
    color: $color-neutralBlack;

    svg {
      fill: $color-neutralBlack;
    }
  }
  &.secondary {
    background-color: $color-primary-10;
    color: $color-primary;

    svg {
      fill: $color-primary;
    }

    &:hover {
      background: $color-primary-20;
      box-shadow: $box-shadow-primary;
    }
  }

  &.text {
    font-size: px(12);
    font-weight: 600;
    line-height: px(12);
    letter-spacing: px(0.24);
  }
  &.s {
    padding: px(8);
  }
}