@import '../../styles/variables.scss';
@import '../../styles/sizes.scss';

.input_wrapper {
  .ui_input {
    padding: px(16);
    width: 100%;
    font-size: px(14);
    font-family: 'thiccboi-medium';
    border: px(1)solid;
    border-color: $color-gray;
    height: px(48);
    color: $color-neutralBlack;
    background: transparent;
    outline: none;
    border-radius: px(8);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
      
    &:focus {
      border:px(2)
      solid $color-primary;
      box-shadow: $box-shadow-primary;
    }
    ::placeholder {
      font-size: px(14);
      color: $color-gray-80;
      font-weight: 400;
      line-height: px(24);
    }

    &.error{
      border-color: $color-danger;
    }
  }

  .phone_wrapper{
    display: flex;

    .phone_tag {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-gray;
      font-size: px(14);
      border-radius: px(8) 0px 0px px(8);
      padding: 0 px(16);
    }

    .phone_input {
      display: flex;
      align-items: center;
      justify-content: stretch;
      padding: px(16);
      gap: px(8);
      height: px(48);
      width: 100%;
      font-size: px(12);
      color: $color-neutralBlack;
      border: 1px solid $color-gray;
      outline: none;
      border-radius: 0px px(8) px(8) 0px;
      box-sizing: border-box;
      transition: all .2s ease-in-out;
      background: transparent;
    
      &.full-radius {
        border-radius: px(8) px(8) px(8) px(8);
      }

      &:focus {
        border: px(2) solid $color-primary;
        box-shadow: 0px 0px 0px px(4) rgba(16, 24, 40, 0.05);
      }

      &.error {
        border-color: $color-danger;
      }
    }
  }
}