@import '../../styles/variables.scss';
@import '../../styles/sizes.scss';

.input_wrapper {
  
  .ui_input {
    padding: px(16);
    width: 100%;
    font-size: px(14);
    font-family: 'thiccboi-medium';
    border: px(1)solid;
    border-color: $color-gray;
    height: 48px;
    color: $color-neutralBlack;
    background: transparent;
    outline: none;
    border-radius: px(8);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
      
    &:focus {
      border:px(2)
      solid $color-primary;
      box-shadow: $box-shadow-primary;
      
    }
    ::placeholder {
      font-size: px(14);
      color: $color-gray-80;
      font-weight: 400;
      line-height: px(24);
    }

    &.error{
      border-color: $color-danger;
    }
  }
}