@import '../../styles/sizes.scss';
@import '../../styles/variables.scss';

.ui_list {
    list-style-type: none;
    padding: px(24) px(40);
    border-radius: px(20);
    background: $color-gray-20;

    li {
        display: flex;
        gap: px(20);
        padding-top: px(40);
        padding-bottom: px(40);
        border-bottom: px(1) solid $color-gray-40;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-color: transparent;
        }
        .icon_container {
            height: fit-content;
            width: fit-content;
            border-radius: px(40);
            background: $color-primary-20;
            padding: px(10);
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: px(24);
                height: px(24);
            }
        }

        h5 {
            font-size: px(20);
            color: $color-neutralBlack;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
        }

        p {
            font-size: px(16);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: $color-gray-80;
        }
    }
}